
/*Arquivo CSS geral com estilos dos elementos de todas as páginas */
/* Valor do ID é exclusivo */
/* Setores HTML = * é universal, ID = é usado dentro da TG ou atributo ID que é unico #, seletor de classe que é iniciado por . */
/* adcionar estilo por atributo */


		/* Cuidade nesse elemento o seletor * universal, afeta todo o documento */
* {
			  box-sizing: border-box;

			}
			
			/* Tag raiz de todo o HTML */
			html {
				margin: 0%;
				padding: 0%;
				font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
			}

			
			body {
				background-color: rgb(255, 255, 255);
			  }

			h1, h2, p, li {
				font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
				color: rgb(80, 75, 80);

			}
		
			/* Links da pagina */
			a {
				color: rgb(255, 255, 255);
				text-decoration: none;
			}

			#primeiro-link a {
				color: rgb(179, 179, 179);
			}
			
			ul {
				background-color: rgb(68, 94, 141);
			}

			.navegacao {
				background-color: rgb(25, 114, 114);
			}

			[type="text", type="email", textare] {
				margin-bottom: 35%;
			}

			/* Style the header */
			header {
			  background-color: #bdbdbd;
			  padding: 15px;
			  text-align: center;
			  font-size: 15px;
			  color: rgb(190, 181, 181);
			}

			/* Create two columns/boxes that floats next to each other */
			nav {
			  float: left;
			  width: 15%;
			   
			  background: #bebdbd;
			  padding: 15px;
			}

			/* Style the list inside the menu */
			nav ul {
			  list-style-type: 
			  padding: 10;
			}

			/* home */

			article {
			  float: left;
			  padding: 12px 20px;
			  width: 70%;
			   box-sizing: border-box;
			  background-color: #f1f1f1;
			}

			/* Clear floats after the columns */
			section::after {
			  background: #ccc;
			  content: "";
			  display: table;
			  clear: both;
			}

			/* Style the footer */
			footer {
			  background-color: #777;
			  padding: 10px;
			  text-align: center;
			  color: white;
			}

			/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
			@media (max-width: 600px) {
			  nav, article {
			    width: 100%;
			    height: auto;
			  }
			}
		